*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    /* background: lime; */
}
header{
    width: 100%;
    height: 70px;
    grid-area: header;
    color: rgba(20, 39, 64,1);
    display: flex;
    z-index: 9;
    position: sticky;
    top: 0;
    left: 0;
}
main{
    width: 100%;
    height: 100%;
    /* background: yellow; */
}
footer{
    width: 100%;
    height: 150px;
    grid-area: footer;
    background: rgba(20, 39, 64,1);
    display: flex;
    color: white;
    z-index: 1;
}

.header-logo {
    width: 20%;
    height: 100%;
    background: rgba(20, 39, 64,1);
    display: flex;
    justify-content: center;
}
.header-logo-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-logo img {
    width: 70px;
    height: 70px;
}
.header-logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo-title h3 {
    font-size: 27px;
    letter-spacing: 4px;
    color: white;
}
.header-menu{
    width: 80%;
    height: 100%;
    /* background: crimson; */
}
.header-menu ul {
    width: 100%;
    height: 100%;
    background: rgba(20, 39, 64,1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-menu ul li{
    list-style: none;
}
.header-menu ul li a {
    text-decoration: none;
    position: relative;
    padding: 15px 30px;
    color: white;
}
.header-menu ul a::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 2px;
    transform: translateY(14px);
    transition: all 0.3s;
    opacity: 0;
}
.header-menu ul a::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 2px;
    transform: translateY(-14px);
    transition: all 0.3s;
    opacity: 0;
}
.header-menu ul a:hover::before,.header-menu ul a:hover::after{
    transform: translateY(0px);
    opacity: 1;
}


.atf{
    background: url(../image/photo-of-people-sitting-beside-cactus-plant-3373352.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.atf-title {
    grid-area: title;
    /* background: white; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.atf-title-logo {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.atf-title-logo h2 {
    font-size: 50px;
    letter-spacing: 39px;
}
.gender{
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
}

.male {
    width: 50%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    opacity: 0;
    z-index: 3;
}
/* .male::before{
    position: absolute;
    height: 100%;
    width: 100%;
    contain: "";
    right: 0;
    transition: all 0.3s;
    opacity: 0;    
    background: rgba(255, 255, 255, 0.5);
}
.male:hover ~ male::before{
    left: 0;
    opacity: 1;    
} */
.male:hover{
    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
    /* width: 50%; */
}
/* .male-text {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.male-text a{
    text-decoration: none;
    color: rgba(20, 39, 64,1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.male-text>h2{
    cursor: pointer;

}
.female{
    width: 50%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    opacity: 0;
    z-index: 3;
}
.female:hover{
    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
    /* width: 50%; */
}
.female-text {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.female-text a{
    text-decoration: none;
    color: rgba(20, 39, 64,1);
}
.male_slide{
    width: 0%;
    height: 100%;
    position: absolute;
    transition: all 0.3s;
    /* background: rgba(255, 255, 255, 1); */
    /* background: red; */
    /* left: 50%; */
    /* opacity: 0; */
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}
.female_slide{
    width: 50%;
    height: 100%;
    position: absolute; 
    transition: all 0.3s;
    /* background: red; */
    /* background: rgba(255, 255, 255, 0.5); */
    right: 0%; 
    /* opacity: 0; */
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}
/* .male:hover ~ .male_slide{
    opacity: 1;
    width: 50%;
    left: 0;
} */
/* .female:hover ~ .female_slide{
    opacity: 1;
    width: 50%;
} */
.btn-wrapper{
    width: 70%;
    display: flex;
    justify-content: left;
}
.maleGallery{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}
.femaleGallery{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}
.closeBtn{
    cursor: pointer;
    z-index: 1;
    font-size: 40px;
    padding: 20px 20px;
    transition: all 0.5s;
    opacity: 0;
}
.closeBtn2{
    cursor: pointer;
    z-index: 1;
    font-size: 40px;
    padding: 20px 20px;
    transition: all 0.5s;
    opacity: 0;
}
.male-img  {
    position: relative;
    width: 100%;
    height: 100%;
}
.male-img  img{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    transition: 1s;
    /* opacity: 0; */
    
}
.male-img li{
    list-style: none;
    display: none;
    transition: all 1s ease;
}
.male-img .active{
    opacity: 1;
    /* visibility: visible; */
    display: block;
}


.female-img  {
    position: relative;
    width: 100%;
    height: 100%;
}
.female-img  img{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    transition: 1s;
    /* opacity: 0; */
    
}
.female-img li{
    list-style: none;
    display: none;
    transition: all 1s ease;
}
.female-img .active{
    opacity: 1;
    /* visibility: visible; */
    display: block;
}


.prev{
    position: absolute;
    font-size: 30px;
    color: white;
    top: 50%;
    opacity: 0;
    transition: all 1s ease;
    cursor: pointer;
    padding: 16px;
    background: lightgray;
}
.next{
    position: absolute;
    font-size: 30px;
    color: white;
    right: 0;
    top: 50%;
    opacity: 0;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 16px;
    background: lightgray;
}
.prev:hover,.next:hover{
    opacity: 1;
    border-radius: 10%;
    /* cursor: pointer; */
}
/* .shop-img  {
    position: relative;
    width: 40vw;
    height: 40vh;
}
.shop-img  img{
    width: 40vw;
    height: 40vh;
    background-size: cover;
    position: absolute;
    transition: 1s;
    opacity: 0;
}
.shop-img .active{
    opacity: 1;
} */












.footer-text{
    width: 33.333%;
    height: 100%;
    /* background: blue; */
    display: flex;
    justify-content: center;
}
.footer-logo{
    width: 33.333%;
    height: 100%;
    /* background: red; */
}
.footer-sns{
    width: 33.333%;
    height: 100%;
    /* background: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text-wrapper{
    width: 80%;
    height: 100%;
    /* background: chartreuse; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.footer-text-logo {
    font-size: 28px;
}
.footer-text-text{
    width: 100%;
    /* height: 50%; */
    /* background: chocolate; */
    text-align: center;
}

.footer-logo-logo{
    width: 100%;
    height: 100%;
    /* background: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    letter-spacing: 10px;
}
.footer-nav{
    width: 100%;
    height: 50%;
    /* background: chartreuse; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-nav ul {
    display: flex;
    width: 100%;
}
.footer-nav ul li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.footer-nav ul li a{
    color: white;
    font-size: 25px;
}
.footer-nav li a::after{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 1px;
    height: 100%;
    background: white;
}
